/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Noto Sans', sans-serif;
}
.navBar {
  background-color: #062a3a;
  color: #AD8E40;
  font-size: 2rem;
}
.navBar nav {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  justify-content: space-around;
}
header {
  background-image: url("../img/bp-pic-styled.jpg");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  padding: 12% 0;
  color: white;
}
@media (max-width: 800px) {
  header {
    background-position: 40% 60%;
  }
}
header h1 {
  font-size: 6rem;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  font-weight: bold;
}
header p {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  padding: 1rem 5.5rem 2.5rem 5.5rem;
  width: 40%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  header p {
    padding: 1rem 2.5rem 2.5rem 2.5rem;
  }
}
@media (max-width: 500px) {
  header p {
    padding: 1rem 0.5rem 2.5rem 0.5rem;
  }
}
header button {
  padding: 2rem 7rem;
  margin: 5rem auto;
  border: none;
  background-color: #AD8E40;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.75rem;
}
@media (max-width: 500px) {
  header button {
    margin: 2rem 30% 1rem 30%;
    padding: 1.7rem 6rem;
  }
}
.secondBody {
  color: white;
  background-color: #062a3a;
  display: flex;
}
@media (max-width: 800px) {
  .secondBody {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .secondBody {
    flex-direction: column;
  }
}
.secondBody div {
  padding: 3rem 4rem;
}
.secondBody h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.secondBody p {
  font-size: 1.5rem;
  padding: 2rem, 0rem, 1rem, 0rem;
}
.thirdBody {
  display: flex;
}
@media (max-width: 500px) {
  .thirdBody {
    flex-direction: column;
  }
}
.thirdBody h2 {
  font-size: 3.5rem;
  padding: 5% 7% 1% 7%;
}
@media (max-width: 800px) {
  .thirdBody h2 {
    padding: 8% 7% 3% 7%;
  }
}
@media (max-width: 500px) {
  .thirdBody h2 {
    padding: 10% 10% 5% 10%;
  }
}
.thirdBody p {
  font-size: 2rem;
  padding: 1% 7% 7% 7%;
}
@media (max-width: 800px) {
  .thirdBody p {
    padding: 1% 7% 12% 7%;
  }
}
@media (max-width: 500px) {
  .thirdBody p {
    padding: 2% 10% 10% 10%;
  }
}
.thirdBody img {
  width: 20%;
  height: auto;
}
footer {
  background-color: #062a3a;
  display: flex;
  justify-content: space-around;
  padding: 1% 0%;
}
@media (max-width: 800px) {
  footer {
    padding: 1.5% 0%;
  }
}
@media (max-width: 500px) {
  footer {
    padding: 4% 0%;
  }
}
footer a {
  font-size: 1.75rem;
  color: #AD8E40;
  width: auto;
}
