.aboutUsHeader {
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12% 0; 
    color: @dr-blue;
    
    h1 {
        
        font-size: 6rem;
        text-align: center;
        padding: 2rem;
        margin-top: 2rem;
        font-weight: bold
    }

    p {
        font-size: 2rem;
        padding:2rem;
        text-align: center;
        padding:1rem 5.5rem 2.5rem 5.5rem;
        width: 40%;
        margin: 0 auto;

        @media @tablet {
            padding:1rem 2.5rem 2.5rem 2.5rem;
        }

        @media @phone {
            padding:1rem 0.5rem 2.5rem 0.5rem;
        }
        
    }

}