header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
    h1 {
        font-size: 6rem;
        text-align: center;
        padding: 2rem;
    }

    p {
        font-size: 2rem;
        padding:2rem;
        text-align: center;
        padding:1rem 5.5rem 2.5rem 5.5rem;
        
    }

    button {
        padding: 1rem;
        margin: 2rem 45% 5rem 45%;
        border: none;

        @media @phone {
            margin: 2rem 30%;
        
        }
        

        
    }

}