header {
    background-image: url("../img/bp-pic-styled.jpg"); 
    background-size: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    padding: 10% 0; 
    color: white;
    

    
    
    
    h1 {
        
        font-size: 6rem;
        text-align: center;
        padding: 2rem;
        margin-top: 2rem;
        font-weight: bold
    }

    p {
        font-size: 2rem;
        padding:2rem;
        text-align: center;
        padding:1rem 5.5rem 2.5rem 5.5rem;
        width: 40%;
        margin: 0 auto;
        
    }

    button {
        padding: 2rem 7rem;
        margin: 5rem auto;
        border: none;
        background-color: @dr-secondary;
        

        @media @phone {
            margin: 2rem 30%;
        
        }
        
    
        
    }
}

