.thirdBody {
    display: flex;


    h2 {
        font-size: 3.5rem;
        padding: 5% 7% 1% 7%;

        @media @tablet {
            padding: 8% 7% 3% 7%;
        }

        @media @phone {
            padding: 10% 10% 5% 10%;
        }

    }

    p {
        font-size: 2rem;
        padding: 1% 7% 7% 7%;

        @media @phone {
            padding: 2% 10% 19% 10%;
        }
    }

    img {
        width: 20%;
        height: auto;
    }
  
}